
body{
    margin:0;
	color:rgb(100, 102, 110);
	background:rgb(100, 102, 110);
  font:600 16px/18px 'Open Sans',sans-serif;
  text-align:center
 
}  
.main-container{
  padding-top: 20px;
}
.basic-container{
  width:100%;
	margin:auto;
	max-width:525px;
	min-height:500px;
	position:relative;
  border-radius: 25px;
  background:rgba(100, 102, 110,.6);
  padding-top: 20px;
 
  
}

.example-form {
   
  }
  
  .example-full-width {
   
    padding-left: -20px;
    padding-right: -20px;
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
  }
  .form-group {
    margin:0.2;
    margin-left:20px;
    margin-right: 20px;

    text-align:center;
  }

  .btn-primary{
    margin-left:20px;
    margin-right: 20px;
    margin:0.2;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }
  .btn-primary:hover{
    transform: scale(1.2);
  }

  .logintext{
    padding-left:50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 20px;
    background-color: 
    
    
   
  }

 