<div class="main-container">
<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>
<ng-template #loggedOut>
    <div class="mat-app-background basic-container">
      <form class="example-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <ol>    
          <mat-form-field class="example-full-width" label for="username">
            <input matInput type="text" placeholder="username" name="username" [formControl] = "usernameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="form.username">
            <mat-error *ngIf="usernameFormControl.hasError('required')">Username is <strong>required!</strong></mat-error>
          </mat-form-field>
        </ol>


        <ol>    
          <mat-form-field class="example-full-width" label for="password">
            <input matInput type="password" placeholder="password" name="password" [formControl] = "passwordFormControl" [errorStateMatcher]="matcher"[(ngModel)]="form.password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">Password is <strong>required!</strong></mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">Password must have <strong>minimum 6 characters!</strong></mat-error>
          </mat-form-field>
          </ol>

        
        <div class="form-group">
          <button mat-raised-button color="primary" class="btn btn-primary">Login</button>
          <div *ngIf="f.submitted && isLoginFailed" class="openDialog(errorMessage)">
          </div>
         <!-- <button mat-raised-button color="primary" class="btn btn-primary" (click)="openDialog()">open dialog</button>-->
        </div>
      </form>
      <hr />
      <div class="bottomboxinfo">
      <p>Don't have an account?</p>
      <button mat-raised-button color="primary" routerLink="/signup" class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </ng-template>
</div>