<!-- <div>
<mat-toolbar color="primary" class="toolbar">

   <mat-card *ngIf="this.loginButton" class="userinfolayout">
      <div class="userinfo">Logged as:{{info.username}}
      </div>
   </mat-card>


 <button mat-fab class="button" routerLink="home">Home</button>

 <div *ngIf="this.userButton">
    <button mat-fab  class="button" routerLink="user" ><div class="textbutton">User Board</div></button>
   </div>
 <div *ngIf="this.adminButton">
    <button mat-fab inline="false" class="button" routerLink="admin"><div class="textbutton">Admin Board</div></button>
 </div>
 <div *ngIf="this.pmButton">
    <button mat-fab inline="false" class="button" routerLink="pm"><div class="textbutton">Pm Board</div></button>
 </div>
 <div *ngIf="!this.loginButton">
    <button mat-fab  class="button" routerLink="auth/login">Login</button>
 </div>

 
 
</mat-toolbar>


</div>

<div class="container">
    <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
  <router-outlet></router-outlet>
</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

   <nav class="navbar navbar-dark bg-dark mb-5">
      <a class="navbar-brand" href="/">Angular & Bootstrap</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
           
         <div><button type="button" class="btn btn-secondary" routerLink="home">Home</button></div>
         <div *ngIf="this.userButton" class="buttons_nav_container" routerLink="user"><button type="button" class="btn btn-secondary" href="#">User Board</button></div>
         <div *ngIf="this.adminButton" class="buttons_nav_container" routerLink="admin"><button type="button" class="btn btn-secondary" href="#">Admin Board</button></div>
         <div *ngIf="this.pmButton" class="buttons_nav_container" routerLink="pm"><button type="button" class="btn btn-secondary" href="#">Pm Board</button></div>
         <div *ngIf="!this.loginButton" class="buttons_nav_container" routerLink="auth/login"><button type="button" class="btn btn-secondary" href="#">Login</button></div>
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
            <i class="fa fa-medium"></i>
          </a>
        </div>
      </div>
    </nav>
<br>
<div class="container">
      <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
    <router-outlet></router-outlet>
  </div>
</body>
</html>
