<div>
<mat-toolbar color="primary" class="toolbar">


 <button mat-fab class="button" routerLink="home">Home</button>

 <div *ngIf="this.userButton">
    <button mat-fab  class="button" routerLink="user" ><div class="textbutton">User Board</div></button>
   </div>
 <div *ngIf="this.adminButton">
    <button mat-fab inline="false" class="button" routerLink="admin"><div class="textbutton">Admin Board</div></button>
 </div>
 <div *ngIf="this.pmButton">
    <button mat-fab inline="false" class="button" routerLink="pm"><div class="textbutton">Pm Board</div></button>
 </div>
 <div *ngIf="!this.loginButton">
    <button mat-fab  class="button" routerLink="auth/login">Login</button>
 </div>

 
 
</mat-toolbar>


</div>

<div class="container">
    <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
  <router-outlet></router-outlet>
</div>