

.button{
    margin: 0.3cm;
    transform: scale(1.2);
    
    
}.button:hover{
    margin: 0.3cm;
    transform: scale(1.4);
  
   
}
.toolbar{
    width:100%;
    height:80px;
    opacity: 0.5;
}
.toolbar:hover{
    opacity:1;
}
.textbutton{
    
    white-space: normal;
    margin-top: 0px;

    
}
::ng-deep .mat-fab .mat-button-wrapper {
    display:unset !important;

  }
  .userinfolayout{
      position: absolute;
      right:0;
    float: right;
    background-color: gray;
    opacity: 0.8;
    margin-left: -15px;
    width: 100px;
    height: 30px;
  }
  .userinfo{
      font-size: 10px;
      color: white;
      position: absolute;
      text-align: start;
  }


  .btn-secondary{
    margin-left: 4% !important;
  }

  .buttons_nav_container{
    margin-left: 5% !important;
  }
  

