
<!-- <div class="example-container mat-elevation-z8">
  
  
  <mat-table [dataSource]="dataSource">

    
    <ng-container matColumnDef="id" sticky>
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.surname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthdate">
      <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.birthdate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef> Email Address </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.emailAddress}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.phoneNumber}} </mat-cell>
        </ng-container>
    <ng-container matColumnDef="accountCreationDate">
        <mat-header-cell *matHeaderCellDef> Account Creation Date </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.accountCreationDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef> Enabled </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.enabled}} </mat-cell>
          </ng-container> 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
        
        $(document).ready(function () {
          $('#myData').DataTable({
          "scrollY": "200px",
          "scrollCollapse": true,
          });
          $('.dataTables_length').addClass('bs-select');
          });
          
          </script>
      </head>
<body>
       
         <table class="table table-dark table-responsive" style="text-align: center">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Surename</th>
              <th>Username</th>
              <th>Birthdate</th>
              <th>Email Address</th>
              <th>Gender</th>
              <th>Phone Number</th>
              <th>Account Creation Date</th>
              <th>Enabled</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersToPagination">
              <td class = "hidden"></td>
              <td nowrap>{{user.id}}</td>
              <td nowrap>{{user.name}}</td>
              <td nowrap>{{user.surename}}</td>
              <td nowrap>{{user.username}}</td>
              <td nowrap>{{user.birthdate}}</td>
              <td nowrap>{{user.emailAddress}}</td>
              <td nowrap>{{user.gender}}</td>
              <td nowrap>{{user.phoneNumber}}</td>
              <td nowrap>{{user.accountCreationDate}}</td>
              <td nowrap>{{user.enabled}}</td>
              <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0" (click)="openModal(template)">Remove</button></span>

                      <ng-template #template>
                        <div class="modal-body fade text-center">
                          <p>Are you sure you want do delete user {{user.username}}</p>
                          <button type="button" class="btn btn-default" (click)="deleteUser(user)" >Yes</button>
                          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                        </div>
                      </ng-template>
                </td>
                <td>
                    <span class="table-remove"><button type="button"
                      class="btn btn-success btn-rounded btn-sm my-0">Edit User</button></span>

                </td>
            </tr>
          </tbody>
          <tfoot>
            <td></td>
            <td><ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="padding-top: 3%">
              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="15">15 items per page</option>
                  <option [ngValue]="20">20 items per page</option>
                </select>
                </td>
          </tfoot>
        </table>

</body>
</html>
