
<!-- <div class="example-container mat-elevation-z8">
  
  
  <mat-table [dataSource]="dataSource">

    
    <ng-container matColumnDef="id" sticky>
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.surname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthdate">
      <mat-header-cell *matHeaderCellDef> Birthdate </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.birthdate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="emailAddress">
        <mat-header-cell *matHeaderCellDef> Email Address </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.emailAddress}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.phoneNumber}} </mat-cell>
        </ng-container>
    <ng-container matColumnDef="accountCreationDate">
        <mat-header-cell *matHeaderCellDef> Account Creation Date </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.accountCreationDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <mat-header-cell *matHeaderCellDef> Enabled </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.enabled}} </mat-cell>
          </ng-container> 
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>
</div> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </head>
<body>       <div class="table-container" >
        <table style= "text-align: center" class="table table-dark" id="myData">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Surename</th>
              <th>Username</th>
              <th>Birthdate</th>
              <th>Email Address</th>
              <th>Gender</th>
              <th>Phone Number</th>
              <th>Account Creation Date</th>
              <th>Enabled</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td class = "hidden"></td>
              <td contenteditable="true" nowrap>{{user.id}}</td>
              <td contenteditable="true" nowrap>{{user.name}}</td>
              <td contenteditable="true" nowrap>{{user.surename}}</td>
              <td contenteditable="true" nowrap>{{user.username}}</td>
              <td contenteditable="true" nowrap>{{user.birthdate}}</td>
              <td contenteditable="true" nowrap>{{user.emailAddress}}</td>
              <td contenteditable="true" nowrap>{{user.gender}}</td>
              <td contenteditable="true" nowrap>{{user.phoneNumber}}</td>
              <td contenteditable="true" nowrap>{{user.accountCreationDate}}</td>
              <td contenteditable="true" nowrap>{{user.enabled}}</td>
              <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0" (click)="deleteUser(user)">Remove</button></span>
                </td>
            </tr>
          </tbody>
        </table>
        </div>

        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function() {
    $('#myData').dataTable();
} );
        </script> 
</body>
</html>
