/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { 
content: "";
margin: 0; 
font-family: Roboto, "Helvetica Neue", sans-serif; 
background-image: url("C:\Users\szymon.olczak\Desktop\AngularFront\clinicProjectFront\src\assets\Photogenica-PHX245893432.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;

z-index:-1;

}
